
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: transparent !important;
  font-family: 'Roboto-light', sans-serif;
}

a {
  color: #00B7FF;
}
.jumbotron{
  margin: 0px;
}
.card{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
  background-color: rgba(0,0,0,0.2) !important;
}

.card-login{
  height: 370px;
  width: 400px;
}

.card-header-text {
  padding: 0px;
  margin: 0px;
}

.profile_images{
  background: darkred;
  padding: 20px;
}

.thumb_images{
  padding-bottom: 10px;
  padding-top: 10px;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.remember{
  color: white;
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn{
  color: black;
  background-color: #DD942D;
  width: 100px;
}

.login_btn:hover{
  color: black;
  background-color: white;
}

.links a{
  margin-left: 4px;
}